@inherits LayoutComponentBase


<FluentMainLayout NavMenuTitle="Navigation menu">
    <Header>
        Watch manager
    </Header>
    <Body>
    @(this.Body)
    </Body>
    <NavMenuContent>
        <NavMenu/>
    </NavMenuContent>

</FluentMainLayout>

<FluentToastProvider Position="ToastPosition.TopCenter" />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
