@page "/"

<PageTitle>Watch Manager - Accueil</PageTitle>

<FluentButton id="myPopoverButtonl" Appearance="Appearance.Accent" @onclick="() => this.popoverIsVisible = !this.popoverIsVisible">
    Ajouter un article
</FluentButton>

<FluentPopover VerticalThreshold="170" AnchorId="myPopoverButtonl" @bind-Open="this.popoverIsVisible">
    <Header>Url de l'article</Header>
    <Body>
    <EditForm Model="this.addArticleViewModel">
        <div style="display:flex">
            <FluentTextField Class="w-100" @bind-Value="this.addArticleViewModel.Url" Placeholder="Url à sauvegarder" Size="100" Disabled="this.analyzeInProgress"/>
            <FluentButton Type="ButtonType.Submit" Appearance="@Appearance.Accent" @onclick="this.SaveArticleHandlerAsync" Disabled="this.analyzeInProgress">Sauvegarder</FluentButton>
            <FluentProgressRing Visible="this.analyzeInProgress"></FluentProgressRing>
        </div>
    </EditForm>
    </Body>
</FluentPopover>

<FluentCard>
    @if (string.IsNullOrWhiteSpace(this.TagSearch))
    {
        <EditForm Model="this.searchArticleViewModel">
            <div style="display:flex">
                <FluentTextField Class="w-100" @bind-Value="this.searchArticleViewModel.Terms" TextFieldType="TextFieldType.Search" Autofocus="true" Placeholder="Rechercher..." Disabled="this.searchInProgress" Size="100" @bind-Value:after="this.SearchArticleHandlerAsync" />
                <FluentProgressRing Visible="this.searchInProgress"></FluentProgressRing>
            </div>
        </EditForm>
    }
    else
    {
        <FluentBadge Appearance="Appearance.Neutral" Circular="true" Class="m-1 p-1" OnDismissClick="this.DismissTagAsync" DismissTitle="Supprimer le tag">
            @this.TagSearch
        </FluentBadge>
    }
</FluentCard>

<FluentStack Orientation="Orientation.Horizontal" Class="m-1" Wrap="true" HorizontalAlignment="HorizontalAlignment.Center">
    @if (this.searchDisabled)
    {
        <FluentProgress></FluentProgress>
    }
    else
    {
        @if (this.analyzeInProgress)
        {
            <FluentCard class="card-padding" Width="400px">
                <FluentSkeleton Style="margin-top: 10px" Height="10px;"></FluentSkeleton>
                <FluentSkeleton Style="margin-top: 10px" Height="10px;"></FluentSkeleton>
                <FluentSkeleton Style="margin-top: 10px" Height="10px;"></FluentSkeleton>
                <FluentSkeleton Style="margin-top: 20px;margin-bottom: 10px;" Width="75px" Height="30px"></FluentSkeleton>
                <FluentSkeleton Shape="SkeletonShape.Rect"></FluentSkeleton>
                <FluentSkeleton Shape="SkeletonShape.Rect"></FluentSkeleton>
                <FluentSkeleton Shape="SkeletonShape.Rect"></FluentSkeleton>
            </FluentCard>
        }

        @foreach (var article in this.articles)
        {
            <Article ArticleModel="article"></Article>
        }
    }
</FluentStack>
