@page "/tags"
<h3>Tags</h3>
<FluentStack Orientation="Orientation.Horizontal" Wrap="true" HorizontalAlignment="HorizontalAlignment.Center">
    @if (this.tags.Length == 0)
    {
        <FluentCard Width="400px" Class="card-padding">
            <FluentSkeleton Style="margin-top: 10px" Height="10px;"></FluentSkeleton>
            <FluentSkeleton Style="margin-top: 10px" Height="10px;"></FluentSkeleton>
            <FluentSkeleton Style="margin-top: 10px" Height="10px;"></FluentSkeleton>
            <FluentSkeleton Style="margin-top: 20px;margin-bottom: 10px;" Width="75px" Height="30px"></FluentSkeleton>
            <FluentSkeleton Shape="SkeletonShape.Rect"></FluentSkeleton>
            <FluentSkeleton Shape="SkeletonShape.Rect"></FluentSkeleton>
            <FluentSkeleton Shape="SkeletonShape.Rect"></FluentSkeleton>
        </FluentCard>
    }
    else
    {
        @foreach (var tag in this.tags)
        {
            <a href="@($"/?tag={tag}")"><FluentBadge Appearance="@Appearance.Accent">@tag</FluentBadge></a>
        }
    }
</FluentStack>
