@page "/tags"
<h3>Tags</h3>
<FluentStack Orientation="Orientation.Horizontal" Wrap="true" HorizontalAlignment="HorizontalAlignment.Center">
    @if (this.tags.Length == 0)
    {
        @foreach(var i in Enumerable.Range(1, 30))
        {
            <FluentSkeleton Height="20px;" Width="75px" />
        }
    }
    else
    {
        @foreach (var tag in this.tags)
        {
            <a href="@($"/?tag={tag}")"><FluentBadge Appearance="@Appearance.Accent">@tag</FluentBadge></a>
        }
    }
</FluentStack>
